/*Authors: Hjörtur Jóhann Vignisson, Ívar Kristinn Hallsson, Guðrún Margrét Ívansdóttir */
body {
    padding: 0;
    margin: 0;
    background-color: black;
}
.container {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}
#my-canvas {
    background-color: white;
    box-shadow: 1px 1px 1px;
    margin: 0 auto;
    display: block;
    border: 5px solid;
}
@font-face {
    font-family: 'Ostrich Sans';
    src: url('./font/ostrich-sans-bold.ttf') ;
    font-weight: 700;
    font-style: normal;
}
/* LEFT & RIGHT sidebars */
.leftSidebar #pH {
    font-size: 70px;
    color: red;
    font-family: 'Ostrich Sans';
    padding-left: 5%;
} 
.leftSidebar {
    height: 100%;
    width: 320px;
    position: fixed;
    top: 5px;
    left: 0;
    background-color: black;
    overflow-x: hidden;
}
.rightSidebar {
    height: 100%;
    width: 320px;
    position: fixed;
    top: 10px;
    right: 0;
    background-color: black;
}
.rightSidebar p {
    font-family: 'Ostrich Sans';
    font-size: 30px;
    color: red;
}
.rightSidebar #p1 {
    padding-left: 20%;
}
.rightSidebar #p2 {
    padding-left: 30%;
    margin-top: -8%;
}
/* ICONS */
.icon {
    position: relative;
    display: inline-block;
    font-size: 2em;
    transition: color .5s;
    color: firebrick;
}
.icon:hover { 
    color: red;
    cursor: pointer;
}
.icon.selected {
    color: red;
}
.icon.right {
    float: left;
    padding-left: 20px;
    margin-left: 3px;
    margin-top: -5%;
    margin-bottom: 5%;
}
.icon.left {
    float: left;
    padding-left: 20px;
    margin-left: 20px;
    margin-top: -10%;
}
.left {
    float: right;
}
.bright {
    font-family: 'Ostrich Sans';
    color: white;
}
.nodot {
    list-style-type: none;
}
.load-list:hover {
    color: red;
    cursor: pointer;
}
.load-list.selected {
    color: red;
}
.bottom {
    position: absolute;
    bottom: 3%;
    left: 47%;
}
.hide {
    display: none;
}
.fillOrNoFill{
    border: 1px solid;
    height: 30px;
    width: 70px;
    border-radius: 2px;
    opacity: 0.7;
    background-color: red;
    margin-top: -20%;
}
#visability {
    margin-top: -5%;
    float:left;
}
/* COLORS */
.colors button{
    border: 1px solid;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    opacity: 0.7;
}
.colors {
    padding-left: 10%;
    padding-right: 10%;
}
button:hover {
    opacity: 1;
} 
.colors .blackButton{
    border: 1px solid red ;
    border-radius: 2px;
    background-color: black;
}
.colors .yellowButton{
    border: 1px solid yellow;
    border-radius: 2px;
    background-color: yellow;
}
.colors .redButton{
    border: 1px solid red;
    border-radius: 2px;
    background-color: red;
}
.colors .greenButton{
    border: 1px solid green ;
    border-radius: 2px;
    background-color: green;
}
.colors .blueButton{
    border: 1px solid blue ;
    border-radius: 2px;
    background-color: blue;
}
.colors .whiteButton{
    border: 1px solid white ;
    border-radius: 2px;
    background-color: white;
}
.colors .purpleButton{
    border: 1px solid plum;
    border-radius: 2px;
    background-color: plum;
}
.colors .brownButton{
    border: 1px solid brown;
    border-radius: 2px;
    background-color: brown;
}
.colors .pinkButton{
    border: 1px solid pink ;
    border-radius: 2px;
    background-color: pink;
}
.colors .orangeButton{
    border: 1px solid orange ;
    border-radius: 2px;
    background-color: orange;
}
.colors .AquaButton{
    border: 1px solid Aqua;
    border-radius: 2px;
    background-color: aqua;
}
.colors .PeachPuffButton{
    border: 1px solid PeachPuff;
    border-radius: 2px;
    background-color: PeachPuff;
}
.colors .AntiqueWhiteButton{
    border: 1px solid AntiqueWhite;
    border-radius: 2px;
    background-color: AntiqueWhite;
}
.colors .FuchsiaButton{
    border: 1px solid Fuchsia;
    border-radius: 2px;
    background-color: Fuchsia;
}
.colors .GreenYellowButton{
    border: 1px solid GreenYellow;
    border-radius: 2px;
    background-color: GreenYellow;
}
button.selected {
    opacity: 1;
}
#buttonDiv1 {
    margin-top: -8%;
    margin-bottom: 5%;
}
/* TEXT */
.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 30px;
}
.dropdown-content {
    display: none;
    position: relative;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 5px;
}
.dropdown-content select {
    color: black;
    text-decoration: none;
    display: block;
    margin-top: 5px;
}
.dropdown-content form {
    color: black;
    text-decoration: none;
    display: block;
    margin-top: 5px;
}
.show {
    display: none;
}
#fBtn {
    background-color: RED;
    border: 1px solid;
    border-color: red;
    height: 35px;
    width: 75px;
    border-radius: 2px;
    opacity: 0.7;
    margin-top: 5px;
}
#fBtn:hover {
    opacity: 1;
}
/* LINE */
.lineWidth {
    padding-left: 12%;
    padding-right: 10%;
}
.lineWidth #p3 {
    padding-left: 20%;
}
.lineButton {
    border: 1px solid;
    height: 30px;
    width: 40px;
    border-radius: 2px;
    opacity: 0.7;
    background-color: red;
}
#buttonDiv2 {
    margin-top: -8%;
}