/*
This is the apps CSS stylesheet though i was thinking about using
.less doc for more clarity
*/
/*All*/
* {
    box-sizing: border-box;
}

/*Body*/
body {
    background-color: #D8D0FF;
}

/* NavigationBar css*/
.navigation-bar {
    background-color: black;
    display: block;
    height: 75px;
    border-bottom: solid 2px black;
}

/* NavigationBar-links css*/
ul.navigation-links {
    float:left
}

ul.navigation-links li {
    display: inline-block;
    color: white;
    padding: 10px;
}

/*Data Container*/
.container {
    background-color: #F1F2F2;
    width:1196px;
    height: 1000px;
    margin: 0 auto;
    border: solid 2px black;
    padding-top: 15px;
    margin-top: 10px;
}

.nav-link {
    color: white;
    font-size: 25px;
}

.nav-link:hover {
    color: #C4AAFF;
}


#logo {
    float: left;
    width: 140px;
}