/*
This is the apps CSS stylesheet though i was thinking about using
.less doc for more clarity
*/
/*All*/
* {
    box-sizing: border-box;
}

body {
    background-color:#E3DCFF;
}

.navigation-bar {
    background-color: black;
    display: block;
    height: 75px;
    border-bottom: solid 2px black;
}

ul.navigation-links {
    float:left
}

ul.navigation-links li {
    display: inline-block;
    color: white;
    padding: 10px;
}

.nav-link {
    color: white;
    font-size: 25px;
}

.nav-link:hover {
    color: #C4AAFF;
}

#logo {
    float: left;
    width: 140px;
}

.container {
    background-color: black;
    width:1196px;
    height: 1000px;
    margin: 0 auto;
    border: solid 2px white;
    padding-top: 15px;
    margin-top: 10px;
    overflow-y: scroll;
}

.detail-products {
    background-color:#E3DCFF;
    overflow-y: scroll;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 50px;
}

.detail-header {
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
}
.detail-description {
    padding-left: 10px;
}

.detail-price {
    padding-left: 10px;
}

#bundle-name {
    font-size: 50px;
    padding-left: 325px;
    color: black;
}

.bubble-link {
    color: white;
    text-decoration: none;
}

.bubble-link:hover {
    color: #C4AAFF;
    text-decoration: none;
}

.bundle-div {
    background-color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 10px;
    margin-left: 50px;
}

.cart-button {
    background-color: black;
    color: white;
    height: 40px;
    width: 150px;
    margin-left: 700px;
    margin-bottom: 10px;
}

.cart-button:hover {
    color: #C4AAFF;
}

.about-div h1 {
    color: white;
}

.about-div p {
    color: white;
}

.home-logo {
    margin-left: 50px;
}

.cart-right {
    margin-left: 800px;
}

.checkout-button {
    background-color: #E3DCFF;
    border-color: #E3DCFF;
    height: 40px;
    width: 150px;
    margin-top: 15px;
    margin-left: 140px;
    margin-bottom: 15px;
}

.checkout-div {
    margin-left: 300px;
    margin-top: 20px;
}

.checkout-div h2 {
   color: white;
}

.pickup-button {
    background-color: #E3DCFF;
    border-color: #E3DCFF;
    height: 40px;
    width: 150px;
    margin-bottom: 5px;
    margin-top: 15px;

}
.delivered-button {
    background-color:#E3DCFF;
    border-color: #E3DCFF;
    height: 40px;
    width: 150px;
    margin-left: 390px;
    margin-bottom: 5px;
    margin-top: 15px;
    
}
.dp-div {
    margin-left: 200px;
    margin-top: 20px;
}

.dp-div h2{
    color: white;
}

.submit-button {
    background-color:#E3DCFF;
    border-color: #E3DCFF;
    color: black;
    height: 40px;
    width: 150px;
}

.submit-button:hover {
    color:#C4AAFF;
}

.form h1 {
    color: white;
}

.form {
    color: #C4AAFF;
}

.bubble-link-black {
    color: black;
    text-decoration: none;
}

.bubble-link-black:hover {
    color: #C4AAFF;
    text-decoration: none;
}


.items {
    color: black;
    background-color: white;
    width: 1000px;
    margin-left: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.items p {
    margin-left: 10px;
    font-size: 25px;
}
.confirm-button {
    background-color:#E3DCFF;
    border-color: #E3DCFF;
    height: 40px;
    width: 150px;
    margin-left: 700px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.cancel-button {
    background-color: #E3DCFF;
    border-color: #E3DCFF;
    height: 40px;
    width: 150px;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 55px;
}

#empty {
    margin-left: 350px;
}

#order {
    font-weight: bold;
    margin-left: 10px;
    font-size: 30px;
}

.confirmation {
    color: #C4AAFF;
    margin-left: 55px;
}