/* You can add styles here */




.chat-window h3 {
    position: relative;
    text-align: center;
    color: yellow; 
}

 .input-container {
    position: absolute;
    width: 100%;
    
}
.input-container {
    width: 800px;
    margin-left: 38.8%;
    margin-top: 10px;
}

.input-container input {
    width: 90%;
    padding: 5px;
   
  
}

.input-container button {
    width: 9%;
    padding: 5px;
    color: yellow;
    background-color: black;
    position: relative;
    bottom: 0;
    box-shadow: 5px 5px 10px 2px darkgray;
    margin-left: 1px;
}

.chat-window {
    position: relative;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px darkgray;
    background-size: 100% 40px, auto;
    background-image:
        linear-gradient(to top right, black, black, 50px, black),
        linear-gradient(to bottom, black, black 1px, white 1px, white 40px, black 40px, black 42px, white 42px, white);
    background-repeat: no-repeat;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    animation: move-shadow 1s ease-in alternate infinite;
    overflow-y: scroll;
}


.message {
    padding-top: 10px;
}

/* Login page */
.login-form input {
    width: 20%;
    padding: 5px;
}

.login-button {
    padding: 5px; 
    color: yellow;
    width: 5px;
}
.welcome {
    margin-left: 38%;
    margin-top: 5%;
}
.please{
    margin-left: 29%;
}

/* Room list */
.room-form{
    margin-top: 19px;
    width: 350px;
    height: 100%;
    margin-left: 40px;
}
.room-form h3 {
    margin-left: 5px;
    padding-top: 10px;
}
.room-list-form input {
    width: 45%;
    padding: 5px;
    margin-left: 5px;
    font-size: 15px;
}

.room-button  {
    padding: 5px; 
    color: yellow;
    background-color: black;

}

 a {
    color: yellow;
    text-decoration: none;
    opacity: 0.8;
    font-size: 20px;
}

a:hover  {
    color: yellow;
    opacity: 1;
    text-decoration: none;
}

a:active {
    color: yellow;
    opacity: 1;
    text-decoration: none;
  }

::placeholder {
    background-color: black;
    color: yellow;
}

input {
    background-color: black;
    color: yellow;
    box-shadow: 5px 5px 10px 2px darkgray;
}

.test {
    margin-left: 5px;
}

.black-form {
    width: 500px;
    height: 90%;
    margin-left: 10px;
    background-color: black;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px 2px darkgray;
    margin-top: 20px;
}

.black-form h3 {
    color: yellow;
    padding-left: 5px;
}

.room-form {
    float: left;
}

.welcome2{
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.user-in-room {
    color: yellow;
    font-size: 15px;
    opacity: 0.8;
}

.current-chat {
    margin-left: 39%;
    color: black;
    padding-top: 30px;
}

.chat-logo {
    margin-top: 40px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .closeBtn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeBtn:hover,
  .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }